#组装报告配置文件；没有的项可以为空

[project]
#物种名称，必填
name = 	
#项目信息文本文件路径
info = 

[raw_data]
#测序数据文本文件路径；第一行为基因组大小，例如500M;第二行开始为输出信息，共三列，分别为文库种类，平均read长度，测序量(G)
seq_info = 
#HICUP运行目录路径
hicup = 

[assembly]
#组装步骤列表，逗号分割;目前可选步骤有falcon,10x,bionano,lachesis,pilon
assembly_steps = falcon,10x,bionano,lachesis,pilon
#falcon目录路径,目录下需要有N50.out
falcon = 
#10x目录路径,目录下需要有N50.out
tenx = 
#bionano目录路径,目录下需要有N50.out
bionano = 
#LACHESIS目录路径,目录下需要有N50.out
lachesis = 
#pilon目录路径,目录下需要有N50.out
pilon = 
#组装评估目录路径
eval = 

[yaml]
#1表示输出yaml，不生成html报告
out_yaml = 0
#可以输入yaml,生成html报告;多个yaml文件用逗号分割
in_yaml = 



